@import url('https://fonts.googleapis.com/css?family=Open+Sans:light,regular,bold');

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial;
}
body {
  overflow: hidden;
}
#root {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  > .main-content {
    width: 100%;
    background: #fafafa;
    height: calc(100dvh - 80px);
    overflow: scroll;
    display: flex;
    flex-direction: column;
  }
  > .nav-bar {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgb(234, 235, 236);
    > ul {
      width: 100%;
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin: 0;
      padding: 0;
      background-color: white;
      li {
        width: 60px;
        margin: 0;
        padding: 0 25px;
        > a {
          text-decoration: none;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          color: rgb(150, 155, 160);
          font-weight: 300;
          &.active {
            color: #3b893b;
            font-weight: bold;
          }
          > span {
            display: block;
          }
          > svg {
            display: block;
            font-size: 25px;
            margin-bottom: 6px;
          }
        }
      }
    }
  }

  .map {
    flex: 9;
  }

  @media screen and (min-width: 300px) {
    .leaflet-container {
      display: flex;
      width: 100%;
      flex-direction: row;
      height: 100%;
    }
  }
  .header {
    border-bottom: 1px solid rgb(234, 235, 236);
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: white;
    > h3 {
      line-height: 50px;
      display: block;
      padding: 0;
      margin: 0;
      color: #3b893b;
      font-weight: 400;
      width: 100%;
      text-align: center;
    }
    .MuiButton-root {
      height: 35px;
      border: 1px solid;
      padding: 0;
      min-width: auto;
      width: 40px;
    }
    .MuiButton-root:active,
    .MuiButton-root:focus {
      color: white;
      background-color: #2e7d32;
    }
    .header-start,
    .header-end {
      min-width: 50px;
      display: block;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
  .MuiListItemText-root {
    padding-right: 10px;
  }
  .list-item-image-wrapper {
    min-width: 60px;
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  .list-item-no-image {
    min-width: 60px;
    min-height: 60px;
    color: #777;
    background-color: #EEE;
    font-size: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
}
.image-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.leaflet-container {
  width: 100%;
  height: 100%;
}
.MuiModal-root {
  .modal-header {
    height: 25vh;
    position: relative;
  }
  .modal-header-img-wrapper {
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 10000;
    position: absolute;
    top: 0;
  }
  .modal-header-small-img-wrapper {
    width: 90px;
    height: 90px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10000;
    cursor: pointer;
  }
  .modal-content {
    padding: 20px;
  }
}
.MuiSnackbar-root {
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.7);
}
